@import "_css3-mixins.scss";
html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
form{
    display:none;
}

.box {
    @include box-sizing("border-box");
}
#toolbar{
	width:100%;
    height:28px;
    @include background-gradient(#fff,#ccc);
	a{
		display:inline-block;
		padding:5px;
		text-decoration: none;
        color:#000;
        @include text-shadow(1px, 1px, 1px, #fff);

        &:hover{
           @include background-gradient(#eee,#aaa); 
        }


        &#logo {
            @include background-gradient(#333,#000);
            color: #ccc;
            @include text-shadow(-1px, -1px, 1px, #000);
            &:hover{
               @include background-gradient(#333,#000);
            }
        }
	}
}
#left {
    width: 50%;
    height: calc(100% - 28px);
    padding: 10px;
    float: left;
    @include box-shadow(5px, 0, 20px, #ccc);
}

#right {
    width: 50%;
    height: calc(100% - 30px);
    padding: 10px;
    float: right;
}

#output {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 10px;
}
 
.func-form{
    display:none;
    height:100%;
    width:100%;
}

#doc_form{
    display:block;
}

.add {
    padding: 5px;
    height: 60px;
}

#list {
    border: 1px solid #ccc;
    padding: 5px;
    height: calc(100% - 60px);
    @include box-shadow(0, 0, 20px, #ccc, 'inset');
    overflow: auto;
}

.redir-wrap {
    padding: 5px 0;
}

input {
    padding: 5px;
    margin: 5px;
    margin-left: 0;
}

label {
    padding: 5px;
    margin: 5px;
    display: inline-block;
    margin-right: 0;
    color: #fff;
    background: #000;
    border-bottom: 1px solid #000;
    @include border-radius(5px 0 0 5px);
}

.move_btn{
    display: inline-block;
    cursor:move;
}

.row {
    display: inline-block;
}

.func {
    text-align: right;
    display: inline-block;
}

button {
    padding: 5px;
    margin: 5px;
}
